:root {
    --primary-pale-blue: hsl(225, 100%, 94%);
    --primary-bright-blue: hsl(245, 75%, 52%);

    --neutral-very-pale-blue: hsl(225, 100%, 98%);
    --neutra-desaturated-blue: hsl(224, 23%, 55%);
    --neutral-dark-blue: hsl(223, 47%, 23%);

    --font--global: 'Red Hat Display', sans-serif;
}

*, 
*::before, 
*::after {
    margin: 0;
}
body {
    font-family: var(--font--global);
    font-size: 1rem;
    line-height: 1.625rem;
}
main {
    display: flex;
    flex-wrap: wrap;
}
.hero {
    height: 10rem;
    width: auto;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }